<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="https://iili.io/HOlzNsI.md.png">
    <title>Formee Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; background-color:#f6f6f6;">
<nav class="w-full border-b-2">
    <div name="NAVBAR" class="p-4 flex flex-row w-[95%] m-auto flex-wrap justify-between items-center">

        <div class="flex-initial min-w-1/2">
            <p class="text-3xl p-2">ForMee Management</p>
        </div>

        <div class="flex-auto w-32 flex gap-1 justify-end items-center">
            {% if user.is_authenticated %}
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><p class="text-lg p-2">Hi, {{ user.username }}</p></div>
            {% if user.username != 'geetaformee' %}
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><a href="/admin/"><p class="text-lg p-2">Admin</p></a></div>
            {% endif %}
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><a href="/stock/"><p class="text-lg p-2 ease-in-out duration-300">Stock</p></a></div>
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><a href="/billing/"><p class="text-lg p-2 ease-in-out duration-300">Billing</p></a></div>
            {% if user.username != 'geetaformee' %}
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><a href="/accounting/"><p class="text-lg p-2 ease-in-out duration-300">Accounting</p></a></div>
            {% endif %}
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><a href="/logout/"><p class="text-lg p-2 ease-in-out duration-300">Logout</p></a></div>
            {% else %}
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><a href="/login/"><p class="text-lg p-2 ease-in-out duration-300">Login</p></a></div>
            <div class=" ease-in-out duration-300 rounded-xl hover:bg-gray-200"><a href="/register/"><p class="text-lg p-2 ease-in-out duration-300">Register</p></a></div>
            {% endif %}
        </div>
    </div>
</nav>

{% block body %}

{% endblock %}
</body>
</html>