{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
<style>
    .success{
        background-color: #4ade80;
        width:100%;
        padding: 0.5rem;
        text-align:center;
    }
    .error{
        background-color: #f87171;
        width:100%;
        padding: 0.5rem;
        text-align:center;
    }


</style>

{% if error_message %}
<ul class="messages">
    <li class="error">{{ error_message }}</li>
</ul>
{% endif %}

<div class="flex w-11/12 m-auto">
    <div class="m-auto p-6 border-2 rounded-xl w-2/6 mr-6 mt-6 shadow-md">
        <p class="mb-4 text-md font-bold uppercase">Edit Product</p>
        <hr>
        <form method="post" class="flex flex-wrap">
            {% csrf_token %}
            <div class="mt-4">
                <p class="text-sm">Name of the Product:</p>
                <p class="text-xl font-semibold">{{ product.name }}</p>
                <p class="text-md font-semibold">{{ product.size }}</p>
            </div>
            <div class="flex my-4 mb-6">
                <div>
                    <p class="text-l">Stock In</p>
                    {% render_field form.in_quantity class="w-11/12 h-10 indent-2 rounded bg-transparent border-2" placeholder="15" %}
                </div>
                <div>
                    <p class="text-l">Stock Out</p>
                    {% render_field form.out_quantity class="w-11/12 h-10 indent-2 rounded bg-transparent border-2" placeholder="15" %}
                </div>
            </div>
            {{ form.errors }}
            <br>
            <button type="submit"
                    class="w-full bg-green-400 rounded h-12 text-lg hover:drop-shadow-2xl duration-300 ease-in-out">
                Update
            </button>
        </form>
    </div>

    <div class="relative overflow-x-auto sm:rounded-lg w-5/6 m-auto mt-6 ml-6">

        <div class="flex justify-between mx-auto w-full mb-4">
            <div class="flex-grow flex-0">
                <form action="" class="flex gap-2">
                    <input type="text" class="w-full h-10 border rounded px-4" name="stock_search"
                           placeholder="Search Invoice Number">
                    <div class="w-1/6 ml-2">
                        <input type="date" id="start_date" name="start_date" class="h-10 border indent-1 rounded">
                    </div>

                    <div class="w-1/6">
                        <input type="date" id="end_date" name="end_date" class="h-10 border indent-1 rounded">
                    </div>

                    <button type="submit" class="px-4 py-2 bg-green-400 rounded">Search</button>
                </form>
            </div>
        </div>

        <table class="w-full text-sm text-left border">
            <thead class="text-xs uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product Code
                </th>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    In Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Out Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Invoice Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
            </thead>
            <tbody>
            {% for s in stock %}
            <tr class="bg-white border-b">

                <td class="px-6 py-4">
                    {{ s.product_code }}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ product.name }}
                </th>
                <td class="px-6 py-4">
                    {{ s.in_quantity }}
                </td>
                <td class="px-6 py-4">
                    {{ s.out_quantity }}
                </td>
                <td class="px-6 py-4">
                    {% if s.invoice_number is not None %}
                    #{{ s.invoice_number }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    {{ s.date }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}