{% extends 'base.html' %}

{% block body %}

<div class="flex justify-between mx-auto w-11/12 mt-4 gap-4 p-4 border-2 rounded-lg shadow-md">
    <div>
        <a href="add_product/">
            <button class="px-4 py-2 bg-green-400 rounded whitespace-nowrap">Add Product</button>
        </a>
    </div>
    <div>
        <a href="stock_report/">
            <button class="px-4 py-2 bg-green-400 rounded whitespace-nowrap">Stock Report</button>
        </a>
    </div>
    <div class="flex-grow flex-0">
        <form action="" class="flex">
            <input type="text" class="w-full h-10 border rounded px-4" name="product_search"
                   placeholder="Search Product">

            <button type="submit" class="ml-2 px-4 py-2 bg-green-400 rounded">Search</button>
        </form>
    </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-11/12 m-auto mt-4">
    <table class="w-full text-sm text-left border">
        <thead class="text-xs uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product Code
                </th>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Size
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class="bg-white border-b">
                <td class="px-6 py-4">
                    FM{{ product.code }}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ product.name|slice:-5 }}
                </th>
                <td class="px-6 py-4">
                    {{ product.size }}
                </td>
                <td class="px-6 py-4">
                    {{ product.price }}
                </td>
                <td class="px-6 py-4 {% if product.stock < 200 %} text-red-500 {% endif %}">
                    {{ product.stock }}
                </td>
                <td class="px-6 py-4">
                    <a href="product/{{ product.code }}/" class="font-medium text-blue-600 hover:underline">View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}