{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}

<div class="m-auto my-8 p-8 border-2 rounded-xl w-2/6" style="box-shadow: 0 25px 25px rgb(0 0 0 / 0.15);">
    <p class="text-center text-3xl font-bold">Add New Customer</p>
    <br>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="my-6">
            <p class="text-xl my-2">Customer Type</p>
            {% render_field form.order_type class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Nashik" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">Customer Name</p>
            {% render_field form.name class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Eg: Formee Foods" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">Phone</p>
            {% render_field form.phone class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="9840239390" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">Date of Birth</p>
            {% render_field form.birth_date class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="13/11" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">Email</p>
            {% render_field form.email class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="abc@gmail.com" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">Address</p>
            {% render_field form.address class="w-full h-20 indent-2 rounded bg-transparent border-2" placeholder="XYZ Shop, XYZ Area" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">District</p>
            {% render_field form.district class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Nashik" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">FSSAI Number</p>
            {% render_field form.fssai class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="JG9332NKJAD9" %}
        </div>
        <div class="my-6">
            <p class="text-xl my-2">GSTIN Number</p>
            {% render_field form.gstin class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="764GAF63848" %}
        </div>
        {{ form.errors }}
        <br>
        <button type="submit" class="w-full bg-green-400 rounded h-12 text-xl hover:drop-shadow-2xl duration-300 ease-in-out">Add Customer</button>
    </form>
</div>

{% endblock %}