{% extends 'base.html' %}
{% include math %}
{% load ledger_filters %}
{% block body %}

<div class="text-xl font-bold w-11/12 m-auto mt-6">
    <a href="/billing/" class="text-blue-600 hover:underline">Billing</a> >
    <a href="/billing/get-sales-report/" class="text-purple-600 hover:underline">Get Sales Report</a>
</div>

<div class="m-auto w-11/12 mt-4 px-2 border rounded shadow-md">
    <form method="GET" action="{% url 'get_sales_report' %}" class="flex flex-row justify-between items-center">

        <div>
            <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}" class="h-10 border indent-1 rounded">

            <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}" class="h-10 border indent-1 rounded">
        </div>

        <div>
            <label for="order_type"></label>
            <input type="checkbox" id="normal" name="order_type[]" value="normal" {% if 'normal' in request.GET.order_type %}checked{% endif %}>
            <label for="normal">Normal</label>
            <input type="checkbox" id="super_market" name="order_type[]" value="super market" {% if 'super market' in request.GET.order_type %}checked{% endif %}>
            <label for="super_market">Super Market</label>
            <input type="checkbox" id="franchise" name="order_type[]" value="franchise" {% if 'franchise' in request.GET.order_type %}checked{% endif %}>
            <label for="franchise">Franchise</label>
        </div>

        <div>
            <label for="payment_status"></label>
            <input type="checkbox" id="pending" name="payment_status[]" value="Pending" {% if 'Pending' in request.GET.payment_status %}checked{% endif %}>
            <label for="pending">Pending</label>
            <input type="checkbox" id="paid" name="payment_status[]" value="Paid" {% if 'Paid' in request.GET.payment_status %}checked{% endif %}>
            <label for="paid">Paid</label>
        </div>

        <div>
            <label for="payment_type">Payment Type:</label>
            <select name="payment_type" id="payment_type">
                <option value="">All</option>
                    {% for type in payment_types %}
                    <option value="{{ type }}" {% if request.GET.payment_type == type %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" name="apply_filters" class="px-4 py-2 bg-green-400 rounded m-2">Apply Filters</button>
        <button type="submit" name="export_csv" class="px-4 py-2 bg-green-400 rounded m-2">Export to CSV</button>
    </form>


</div>

<div class="overflow-x-auto shadow-md sm:rounded-lg w-11/12 m-auto mt-4 flex flex-col h-screen">
    <table class="relative w-full text-sm text-left border flex-grow overflow-auto">
        <thead class="text-xs uppercase">
        <tr>
            <th scope="col" class="sticky top-0 px-6 py-3 bg-gray-100">
                SR. No.
            </th>
            <th scope="col" class="sticky top-0 px-6 py-3 bg-gray-100">
                Invoice Number
            </th>
            <th scope="col" class="sticky top-0 px-6 py-3 bg-gray-100">
                Invoice Date
            </th>
            <th scope="col" class="sticky top-0 px-6 py-3 bg-gray-100">
                Customer
            </th>
            <th scope="col" class="sticky top-0 px-6 py-3 bg-gray-100">
                Order Total(exl. gst)<br>
                <span class="text-blue-600">({{ total_sales|floatformat:2 }})</span>
            </th>
            <th scope="col" class="sticky top-0 px-6 py-3 bg-gray-100">
                Order Total(incl. gst)<br>
                <span class="text-blue-600">({{ total_sales_with_gst|floatformat:2 }})</span>
            </th>
            <th scope="col" class="sticky top-0 px-6 py-3 bg-gray-100">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr class="bg-white border-b">
            <td class="px-6 py-4">
                {{ forloop.counter }}
            </td>
            <td class="px-6 py-4">
                2024-25/{{ order.invoice_number }}
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                {{ order.created_at|date:"d F, Y" }}
            </th>
            <td class="px-6 py-4 font-bold">
                {{ order.customer.name }}<span class="text-xs">({{ order.customer.get_order_type_display }})</span>
            </td>

            <td class="px-6 py-4">
                {{ order.order_total }}
            </td>

            <td class="px-6 py-4">
                {% if order.customer.order_type != 'normal' %}
                {{ order.order_total_with_gst|floatformat:2 }}
                {% elif order.customer.order_type == 'normal' %}
                {{ order.order_total|floatformat:2 }}
                {% endif %}
            </td>

            <td class="px-6 py-4">
                <a href="/invoice/{{ order.pk }}/" class="font-medium text-blue-600 hover:underline">View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}