{% extends 'base.html' %}

{% block body %}

<div class="m-auto w-3/6 p-4 text-center mt-8">
    <a href="pnl/"><p class="m-auto p-3 w-2/3 h-12 bg-green-400 rounded">PROFIT AND LOSS</p></a>
    <br>
    <a href="cr/"><p class="m-auto p-3 w-2/3 h-12 bg-green-400 rounded">CREDITS</p></a>
    <br>
    <a href="de/"><p class="m-auto p-3 w-2/3 h-12 bg-green-400 rounded">DEBITS</p></a>
    <br>
    <a href="pa/"><p class="m-auto p-3 w-2/3 h-12 bg-green-400 rounded">PURCHASE ACCOUNTS</p></a>
</div>

{% endblock %}