{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}

<div class="m-auto my-8 p-8 border-2 rounded-xl w-2/6" style="box-shadow: 0 25px 25px rgb(0 0 0 / 0.15);">
    <p class="text-center text-3xl font-bold">Add New Credit</p>
    <br>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="mt-6 mb-2">
            <p class="text-xl my-2">Name <i class="optional">*</i></p>
            {% render_field form.name class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Customer Name and Invoice Number" %}
        </div>
        <div class="flex gap-8 justify-between my-2">
            <div class="w-1/2">
                <p class="text-xl my-2">Amount <i class="optional">*</i></p>
                {% render_field form.amount class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Eg: 993.3" %}
            </div>
            <div class="w-1/2">
                <p class="text-xl my-2">Invoice Number</p>
                {% render_field form.invoice_number class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="3" %}
            </div>
        </div>

        <div class="flex gap-8 justify-between my-2">
            <div class="w-full">
                <p class="text-xl my-2">Transaction Type</p>
                {% render_field form.payment_type class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Eg: UPI" %}
            </div>
            {% if credit.payment_type != 'Cheque' %}
            <div class="w-full">
                <p class="text-xl my-2">Transaction Number</p>
                {% render_field form.transaction_number class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Eg: 9021" %}
            </div>
            </div><!-- This div is to keep the html of the page intact because of the django if tags -->
            {% endif %}
            {% if credit.payment_type == 'Cheque' %}
            <div class="w-full">
                <p class="text-xl my-2">Cheque Number</p>
                {% render_field form.cheque_no class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Eg: 190021" %}
            </div>
        </div>
        <div class="flex gap-8 justify-between my-2">
            <div class="w-full">
                <p class="text-xl my-2">Bank Name</p>
                {% render_field form.bank_name class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Eg: Bank of Maharashtra" %}
            </div>
        </div>
        {% endif %}

        <div class="flex gap-8 justify-between my-2">
            <div class="w-1/2">
                <p class="text-xl my-2">Date <i class="optional">*</i></p>
                {% render_field form.date class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="" %}
            </div>
            <div class="w-1/2">
                <p class="text-xl my-2">Special Note</p>
                {% render_field form.note class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Tip" %}
            </div>
        </div>

        {{ form.errors }}
        <br>
        <button type="submit"
                class="w-full bg-green-400 rounded h-12 text-xl hover:drop-shadow-2xl duration-300 ease-in-out">Add
            Credit
        </button>
    </form>
</div>

{% endblock %}