{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}

<div class="m-auto my-8 p-8 border-2 rounded-xl w-2/6" style="box-shadow: 0 25px 25px rgb(0 0 0 / 0.15);">
    <p class="text-center text-3xl font-bold">Add New Balance Type</p>
    <br>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="mt-6 mb-2">
            <p class="text-xl my-2">Balance Type <i class="optional">*</i></p>
            {% render_field form.balance_type class="w-full h-10 indent-2 rounded bg-transparent border-2"%}
        </div>
        <div class="mt-6 mb-2">
            <p class="text-xl my-2">Name <i class="optional">*</i></p>
            {% render_field form.name class="w-full h-10 indent-2 rounded bg-transparent border-2" placeholder="Loans" %}
        </div>
        {{ form.errors }}
        <br>
        <button type="submit"
                class="w-full bg-green-400 rounded h-12 text-xl hover:drop-shadow-2xl duration-300 ease-in-out">Add Balance
        </button>
    </form>
</div>

{% endblock %}