{% extends 'base.html' %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="flex w-11/12 m-auto border-b-2 gap-8 mt-4 mb-4">
    <div class="text-xl font-bold pb-2">
        <a href="/accounting/" class="text-blue-600 hover:underline">Accounting</a> >
        <a href="/accounting/de" class="text-purple-600 hover:underline">Debits</a>
    </div>
</div>

<div class="flex justify-end mx-auto w-11/12">
    <div class="">
        <form action="" class="flex">
            <div class="mr-2">
                <input type="date" id="start_date" name="subdebit_start_date" class="h-10 border indent-1 rounded">
            </div>

            <div class="mx-2">
                <input type="date" id="end_date" name="subdebit_end_date" class="h-10 border indent-1 rounded">
            </div>

            <button type="submit" class="ml-2 px-4 py-2 bg-green-400 rounded">Search</button>
        </form>
    </div>
</div>

<div class="w-11/12 m-auto flex justify-between gap-8 mb-16">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mt-4">
        <table class="w-full text-sm text-left border">
            <thead class="text-xs uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount(exl. gst)
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for debit_type, subdebit_sum in subdebit_sums.items %}
            <tr class="bg-white border-b">
                <td class="px-6 py-4">
                    {{ forloop.counter }}
                </td>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-wrap">
                    {{ debit_type|title }}
                </th>
                <td class="px-6 py-4">
                    {{ subdebit_sum }}
                </td>
                <td class="px-6 py-4">
                    <a href="{{ debit_type }}/" class="font-medium text-blue-600 hover:underline">View</a>
                </td>
            </tr>
            {% endfor %}
            <tr class="bg-blue-600">
                <td colspan="5"></td>
            </tr>

            <tr>
                <td class="px-6 py-4" colspan="1"></td>
                <td class="px-6 py-4">Total Sales</td>
                <td class="px-6 py-4 text-blue-600 font-bold">{{ total_subdebit_sum|floatformat:2 }}
                </td>
                <td class="px-6 py-4" colspan="4"></td>
            </tr>
            <tr class="bg-blue-600">
                <td colspan="5"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}