{% extends 'base.html' %}
{% load template_filters %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="flex w-11/12 m-auto gap-8 mt-4 border-b-2 mb-4">
    <div class="text-xl font-bold pb-2">
        <a href="/accounting/" class="text-blue-600 hover:underline">Accounting</a> >
        <a href="/accounting/de/" class="text-blue-600 hover:underline">Debits</a> >
        <a href="/accounting/de/{{ debit_type.type }}/" class="text-blue-600 hover:underline">{{ debit_type.type|title }}</a> >
        <a href="/accounting/de/{{ debit_type.type }}/{{ debit_type.pk }}/debit/" class="text-purple-600 hover:underline">{{ debit_type }}</a>
    </div>
</div>

<div class="flex justify-between mx-auto w-11/12">
    <div>
        <a href="add_debit/">
            <button class="px-4 py-2 bg-green-400 rounded whitespace-nowrap">Add Debit</button>
        </a>
    </div>
    <div class="flex-grow ml-8 flex-0">
        <form action="" class="flex">
            <input type="text" class="w-full h-10 border rounded px-4" name="credit_search"
                   placeholder="Search Credit">
            <div class="w-1/6 ml-2">
                <input type="date" id="start_date" name="start_date" class="h-10 border indent-1 rounded">
            </div>

            <div class="w-1/6 mx-2">
                <input type="date" id="end_date" name="end_date" class="h-10 border indent-1 rounded">
            </div>

            <button type="submit" class="ml-2 px-4 py-2 bg-green-400 rounded">Search</button>
        </form>
    </div>
</div>

<div class="w-11/12 m-auto flex justify-between gap-8 mb-16">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mt-4">
        <table class="w-full text-sm text-left border">
            <thead class="text-xs uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount(exl. gst)
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for debit in debits %}
            <tr class="bg-white border-b">
                <td class="px-6 py-4">
                    {{ forloop.counter }}
                </td>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-wrap">
                    {{ debit.name }}
                </th>
                <td class="px-6 py-4">
                    {{ debit.sub_debit_sum|floatformat:2 }}
                </td>
                <td class="px-6 py-4">
                    <a href="{{ debit.pk }}/" class="font-medium text-blue-600 hover:underline">View</a>
                </td>
                <td class="px-6 py-4">
                    <a href="{{ debit.pk }}/edit/" class="font-medium text-blue-600 hover:underline">Edit</a>
                </td>
            </tr>
            {% endfor %}
            <tr class="bg-blue-600">
                <td colspan="5"></td>
            </tr>

            <tr>
                <td class="px-6 py-4" colspan="1"></td>
                <td class="px-6 py-4">Total Expenditure</td>
                <td class="px-6 py-4">
                    {{ grand_total_sum|floatformat:2 }}
                    {% if grand_total_sum_sub_amount != 0 %}
                    <span class="text-xs text-blue-600 font-bold">({{ grand_total_sum_sub_amount|floatformat:2 }} exl. gst)</span>
                    {% endif %}
                </td>
                <td class="px-6 py-4" colspan="1"></td>
            </tr>
            <tr class="bg-blue-600">
                <td colspan="5"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}