{% extends 'base.html' %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="flex w-11/12 m-auto border-b-2 gap-8 mt-4 mb-4">
    <div class=" text-2xl font-bold pb-2">
        Profit and Loss
    </div>
</div>

<div class="flex justify-end mx-auto w-11/12">
    <div>
        <form action="" class="flex">
            <div class="mr-2">
                <input type="date" id="start_date" name="start_date" class="h-10 border indent-1 rounded">
            </div>

            <div class="mx-2">
                <input type="date" id="end_date" name="end_date" class="h-10 border indent-1 rounded">
            </div>

            <button type="submit" class="ml-2 px-4 py-2 bg-green-400 rounded">Search</button>
        </form>
    </div>
</div>

<div class="w-5/12 m-auto flex justify-between gap-8 mb-16 mt-8">
    <div class="w-full">
        <table class="w-full text-md text-left border">
            <tr>
                <td><a href="/billing/" class="text-blue-600">Closing Balance</a></td>
                <td>{{ closing_balance|floatformat:2 }} -</td>
            </tr>
            <tr>
                <td><a href="/accounting/de/direct/" class="text-blue-600">Direct Expenses</a></td>
                <td>{{ direct_total|floatformat:2 }}</td>
            </tr>
            <tr>
                <td><a href="/accounting/de/indirect/" class="text-blue-600">Indirect Expenses</a></td>
                <td>{{ indirect_total|floatformat:2 }}</td>
            </tr>
            <tr>
                <td><a href="/accounting/de/miscellaneous/" class="text-blue-600">Miscellaneous Expenses</a></td>
                <td>{{ miscellaneous_total|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>Total Expenditure</td>
                <td>{{ total_sum_of_subdebits|floatformat:2 }}</td>
            </tr>
        </table>
    </div>

    <div class="w-full">
        <table class="w-full text-md text-left border">
            <tr>
                <td><a href="sales/" class="text-blue-600">Sales Accounts</a></td>
                <td>{{ total_sales|floatformat:2 }}</td>
            </tr>
            <tr>
                <td><a href="debits/" class="text-blue-600">Expenses Accounts</a></td>
                <td>{{ total_sum_of_subdebits|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>Net {{ x }}</td>
                <td>{{ pnl|floatformat:2 }}</td>
            </tr>
        </table>
    </div>
</div>
<table>

</table>

{% endblock %}