{% extends 'base.html' %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="flex w-11/12 m-auto gap-8 mt-4 border-b-2 mb-4">
    <div class="text-2xl font-bold pb-2">
        Sales Credits <span class="text-xs">(Contains Orders Paid, also contains GST.)</span>
    </div>
</div>

<div class="flex justify-between mx-auto w-11/12">
    <div>
        <a href="add_credit/">
            <button class="px-4 py-2 bg-green-400 rounded whitespace-nowrap">Add Credit</button>
        </a>
    </div>
    <div class="flex-grow ml-8 flex-0">
        <form action="" class="flex">
            <input type="text" class="w-full h-10 border rounded px-4" name="credit_search"
                   placeholder="Search Credit">
            <div class="w-1/6 ml-2">
                <input type="date" id="start_date" name="start_date" class="h-10 border indent-1 rounded">
            </div>

            <div class="w-1/6 mx-2">
                <input type="date" id="end_date" name="end_date" class="h-10 border indent-1 rounded">
            </div>

            <button type="submit" class="ml-2 px-4 py-2 bg-green-400 rounded">Search</button>
        </form>
    </div>
</div>

<div class="w-11/12 m-auto flex justify-between gap-8 mb-8">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mt-4">
        <table class="w-full text-sm text-left border">
            <thead class="text-xs uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Invoice Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3">
                    Payment Method
                </th>
                <th scope="col" class="px-6 py-3">
                    Credit Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for credit in credits %}
            <tr class="bg-white border-b">
                <td class="px-6 py-4">
                    {{ forloop.counter }}
                </td>
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-wrap">
                    {{ credit.name }}
                </th>
                <td class="px-6 py-4">
                    {{ credit.invoice_number }}
                </td>
                <td class="px-6 py-4">
                    {{ credit.amount|floatformat:2 }}
                </td>
                <td class="px-6 py-4">
                    {{ credit.payment_type }}
                </td>
                <td class="px-6 py-4">
                    {{ credit.credit_type|title }}
                </td>
                <td class="px-6 py-4">
                    {{ credit.date|date:"F d, Y" }}
                </td>
                <td class="px-6 py-4">
                    <a href="/accounting/cr/credit/{{ credit.id }}/edit/" class="font-medium text-blue-600 hover:underline">Edit</a>
                </td>
            </tr>
            {% endfor %}
            <tr class="bg-blue-600">
                <td colspan="8"></td>
            </tr>

            <tr>
                <td class="px-6 py-4" colspan="2"></td>
                <td class="px-6 py-4">Total Sales</td>
                <td class="px-6 py-4">{{ total|floatformat:2 }}
                </td>
                <td class="px-6 py-4" colspan="4"></td>
            </tr>
            <tr class="bg-blue-600">
                <td colspan="8"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="w-11/12 m-auto mb-10">
    <p class="mx-2">Page: {{ credits.number }} of {{ credits.paginator.num_pages}}</p>
    <br>
    {% for pages in credits.paginator %}
    <a href="?page={{ forloop.counter }}"><button class="w-[35px] h-10 rounded mx-2 bg-green-400">{{ forloop.counter }}</button></a>
    {% endfor %}
    {% if credits.has_next %}
    <a href="?page={{ credits.next_page_number }}">Next</a>
    {% endif %}

    <br><br>

</div>
{% endblock %}